/*General styling */
*{
    margin: 0;
    padding: 0;
}

h1 {
    color:  burlywood;
    padding: 10px;
}

body { 
    overflow-x: hidden;
    background-color: rgb(90, 88, 86);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}



.calculator{

    width: 300px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid burlywood;
}


.display{
    display: flex;
    background-color: rgb(195, 188, 181);
    width: 260px;
    border: none;
    padding: 20px;
    margin-bottom: 20px;
    text-align: right;
    border-radius: 5px;
    font-size: 2em;
    background: white;
   
}


.digit-button{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 20px

}


.digit-button button{
    padding: 10px;
    font-size: 1.5em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: rgb(189, 187, 181);
}


.digit-button button:hover{
    background: #d7b87a;
}

#clear{
    background-color: rgb(174, 29, 29) ;
   
}
#clear:hover {
   
    background: rgb(214, 190, 9);
}


#result{
    background-color: green;
}

#result:hover{
    background: rgb(214, 190, 9);
}





/* styling for smaller screen - smart watch and old phones */

@media (max-width: 319px){
    
h1{
    font-size: 12px;
    margin-bottom: 0;
}

body {
    height: 90vh;
}

.calculator{
    width: 100vh;
    /* margin-top: 1px; */
    padding: 2px;
    border-radius: 1px;
    border: none
}


.display{
   
    width: 90vh;
    padding: 3px;
    margin: 3px;
    font-size: 0.6rem;
}


.digit-button{
 
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 5px;
   margin: 5px;
}


.digit-button button{
    padding: 2px;
    font-size: 0.6rem;
    border-radius: 3px;
}


    
}


/* styling for small screen smartphones */
@media(min-width:320px) and (max-width:321px){

    .calculator{
        border:none
    }


}